<div class="row no-gutters">
  <div class="col-12" style="position: relative;">
    <img src="./assets/img/header-hours-and-location.jpg" class="img-fluid w-100" />
    <div class="caption px-4 py-2" routerLink="/menu" style="transform: translate(-50%, -50%);">
      <h1 class="text-center">Okay already, where are the bagels?</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-5">
    <div class="col-12 text-center">
      <p class="lead">We are located in beautiful Evergreen Colorado across the street from King Soopers in the Bergen Park area.</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-sm-6">
      <h2>Restaurant Hours:</h2>
      MONDAY - SUNDAY 6AM - 4PM
    </div>
    <div class="col-12 col-sm-6">
      <h2>Address:</h2>
       1242 Bergen Parkway<br />
       Evergreen, CO 80439<br />
       303-674-1413
    </div>
    <div class="col-12 text-center mt-5" style="height: 600px; background-color: lightgray;">
      <h2 class="align-middle">Google Maps Here</h2>
    </div>
  </div>
</div>