<div class="masthead address">
  <div class="container">
    <div class="masthead-content">
      <h4>Okay already,</h4>
      <h1 class="text-uppercase">Where are the bagels?</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-12 text-center">
      <p class="lead">We are located in beautiful <em>Evergreen Colorado</em> across the street from King Soopers in the Bergen Park area.</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-md-6 mb-4 mb-md-auto">
      <h2>Restaurant Hours:</h2>
      MONDAY - SUNDAY 6AM - 4PM
    </div>
    <div class="col-12 col-md-6">
      <h2>Address:</h2>
       1242 Bergen Parkway<br />
       Evergreen, CO 80439<br />
       303-674-1413
    </div>
    <div class="col-12 text-center mt-5" style="height: 600px; background-color: lightgray;">
      <h2 class="align-middle">Google Maps Here</h2>
      <div #gmap style="width: 100%; height: 500px;"></div>
    </div>
  </div>
</div>