<div class="masthead address">
  <div class="container">
    <div class="masthead-content">
      <h4>Okay already,</h4>
      <h1 class="text-uppercase">Where are the bagels?</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-12 text-center">
      <p class="lead">We are located in beautiful <em>Evergreen Colorado</em> across the street from King Soopers in the Bergen Park area.</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-md-6 mb-4 mb-md-0">
      <h2>Restaurant Hours:</h2>
      MONDAY - SUNDAY 6AM - 3PM
    </div>
    <div class="col-12 col-md-6">
      <h2>Address:</h2>
       1242 Bergen Parkway<br />
       Evergreen, CO 80439<br />
       303-674-1413
    </div>
    <div class="col-12 text-center my-5">
      <a href="https://goo.gl/maps/BAFwveEXDk6KdKNc8" target="_blank">
        <img src="./assets/img/the-bagelry-google-maps.jpg" class="box-shadow" />
      </a>
    </div>
  </div>
</div>