<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4">
        <h4>Follow Us</h4>
        <a href="https://www.facebook.com/TheBagelryEvergreen/" title="Facebook" class="nav-link facebook">
          <i class="fa fa-facebook-square fa-3x align-middle"></i> Facebook
        </a>
        <a href="https://www.instagram.com/bagelry_evergreen/" title="Instagram" class="nav-link instagram">
          <i class="fa fa-instagram fa-3x align-middle"></i> Instagram
        </a>
      </div>
      <div class="col-12 col-sm-4">
        <h4>Contact Us</h4>
        <h6 class='mt-3'>Phone</h6>
        303-674-1413
        <h6 class='mt-3'>Address</h6>
        1242 Bergen Parkway<br />
        Evergreen, CO 80439<br />
        <a href="https://www.google.com/maps/place/The+Bagelry/@39.6922983,-105.3596463,17z/data=!3m1!4b1!4m5!3m4!1s0x876b992a4bf73643:0x177888ce3a77bbe5!8m2!3d39.6922983!4d-105.3574576" target="_blank">
          <i class="fa fa-map-marker"></i> Find Us
        </a>
      </div>
      <div class="col-12 col-sm-4">
        <h4>Hours of Operation</h4>
        Monday 6am - 4pm<br />
        Tuesday 6am - 4pm<br />
        Wednesday 6am - 4pm<br />
        Thursday 6am - 4pm<br />
        Friday 6am - 4pm<br />
        Saturday 6am - 4pm<br />
        Sunday 6am - 4pm
      </div>
    </div>
  </div>
</footer>
<section class="copyrights">
  <div class="container">
    <div class="row">
      <div class="col-md-auto">
        &copy; 2018 The Bagelry.
      </div>
      <div class="col-md-auto text-center">
        <a href="javascript:window.scrollTo(0,0);">Back to top</a>
      </div>
      <div class="col text-right">
        <a routerLink="/home">Home</a>
        &middot;
        <a routerLink="/menu">Menu</a>
        &middot;
        <a routerLink="/address">Hours and Location</a>
        &middot;
        <a routerLink="/local">Local First</a>
        &middot;
        <a routerLink="/our-story">Our Story</a>
      </div>
    </div>
  </div>
</section>