<footer class="footer footer-light">
  <div class="container">
    <div class="row">
      <div class="col-md-auto">
        &copy; 2018 The Bagelry.
      </div>
      <div class="col">
        <a routerLink="/home">Home</a>
        &middot;
        <a routerLink="/menu">Menu</a>
        &middot;
        <a routerLink="/address">Hours and Location</a>
        &middot;
        <a routerLink="/local">Local First</a>
        &middot;
        <a routerLink="/our-story">Our Story</a>
      </div>
      <div class="col-md-auto text-right">
        <a href="javascript:window.scrollTo(0,0);">Back to top</a>
      </div>
    </div>
  </div>
</footer>