<div class="masthead local">
  <div class="container">
    <div class="masthead-content">
      <h4>Live, Love, Local!</h4>
      <h1 class="text-uppercase">Locally Sourced</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-12 col-sm-6">
      <p class="lead">Part of The Bagelry's <em>mission</em> is to source as many <em>local</em> ingredients and delicious products as possible. We bake our bagels with local
      Denver flour and offer 10 to 15 locally made products for our food and drink offerings. We live in a spectacular region
      that takes pride in producing products with beautiful, pure, and healthy ingredients. Using local helps us support our community, creates a sustainable food system, conserves energy by reducing
      transportation, and well ii just tastes better. Here's some of our local offerings:</p>
    </div>
    <div class="col-12 col-sm-6">
      <img src="./assets/img/the-bagelry-local-banner.jpg" class="img-fluid">
    </div>
  </div>
</div>
<div class="container-fluid box-shadow content-area-alt">
  <div class="container">
    <div class="row py-5">
      <div class="col-12 col-sm-5">
        <img src="./assets/img/the-bagelry-local-denver-flour.jpg" class="img-fluid">
      </div>
      <div class="col-12 col-sm-7">
        <p class="lead">We <em>proudly</em> bake with local flour from Denver, CO. Sourcing local ingredients for our bagels is one of our top priorities! Only the best for our customers!</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-sm-7">
      <p class="lead">The Bagelry <em>proudly</em> serves coffee from Dazbog, a local Colorado company. All of their coffee is certified organic and
        roasted in small batches to insure quality and freshness. Come in and try our full menu of Espresso drinks or one of
        our four varieties of fresh brewed Dazbog coffee.</p>
    </div>
    <div class="col-12 col-sm-5">
      <img src="./assets/img/drinks-dazbog-coffee.jpg" class="img-fluid">
    </div>
  </div>
</div>