<div class="row no-gutters">
  <div class="col-12" style="position: relative;">
    <img src="./assets/img/header-local-first.jpg" class="img-fluid w-100" />
    <div class="caption px-4 py-2" routerLink="/menu" style="transform: translate(-50%, -50%);">
      <h1 class="text-center">Local First</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-sm-5">
      <img src="./assets/img/drinks-dazbog-coffee.jpg" class="img-fluid">
    </div>
    <div class="col-12 col-sm-7">
      <blockquote class="blockquote">
      <p>The Bagelry proudly serves coffee from Dazbog, a local Colorado company. All of their coffee is certified
      organic and roasted in small batches to insure quality and freshness. Come in and try our full menu of Espresso drinks or
      one of our four varieties of fresh brewed Dazbog coffee.</p>
      </blockquote>
  </div>
</div>
