<div class="masthead local">
  <div class="container">
    <div class="masthead-content">
      <h4>Live, Love, Local!</h4>
      <h1 class="text-uppercase">Locally Sourced</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-12 col-sm-6">
      <p class="lead">Part of The Bagelry's <em>mission</em> is to source as many <em>local</em> ingredients and delicious products as possible. Our bagels are proudly baked with
      Denver flour. We also offer 10 to 15 locally made products for our food and drink offerings. We live in a spectacular region
      that takes pride in producing products with beautiful, pure, and healthy ingredients. Using local helps us support our community, creates a sustainable food system, conserves energy by reducing
      transportation, and well just tastes better. Here are some of the local companies that we support:</p>
    </div>
    <div class="col-12 col-sm-6">
      <img src="./assets/img/the-bagelry-local-banner.jpg" class="img-fluid box-shadow">
    </div>
  </div>
</div>
<div class="container-fluid box-shadow content-area-alt">
  <div class="container">
    <div class="row py-5">
      <div class="col-12 col-sm-5 mb-4 mb-md-0">
        <img src="./assets/img/the-bagelry-local-denver-flour.jpg" class="img-fluid box-shadow">
      </div>
      <div class="col-12 col-sm-7">
        <p class="lead">We <em>proudly</em> bake with local flour from Denver, CO. Sourcing local ingredients for our bagels is one of our top priorities! Only the best for our customers!</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row my-5">
    <div class="col-12 col-sm-7">
      <p class="lead">The Bagelry <em>proudly</em> serves Pablo's coffee, a local Colorado company. Come in and try our full menu of Espresso drinks or one of
        our four varieties of fresh brewed Pablo's coffee.</p>
    </div>
    <div class="col-12 col-sm-5 order-first order-sm-last mb-4 mb-md-0">
      <img src="./assets/img/pablos-coffee-store.jpg" class="img-fluid box-shadow">
    </div>
  </div>
</div>
<div class="container-fluid box-shadow content-area-alt">
  <div class="container">
    <div class="row py-5">
      <div class="col-12">
        <a href="https://www.facebook.com/TheBagelryEvergreen/" title="Facebook" class="nav-link facebook">
          <img src="./assets/img/the-bagelry-follow-us-on-facebook.jpg" title="10% off for our Facebook followers" class="img-fluid box-shadow">
        </a>
        <p class="lead text-center mt-5">Yes, that's right! Join the locals club today!</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <img src="./assets/img/the-bagelry-free-coffee-for-first-responders.jpg" title="Free coffee for 1st responders from The Bagelry"
        class="img-fluid box-shadow">
      <p class="lead text-center mt-5">Thank you for keeping the bagels safe! Oh, and our community too!</p>
    </div>
  </div>
</div>