<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark">
    <div class="container">
      <!-- <a routerLink="/menu" class="d-block d-md-none text-uppercase">See the Menu</a> -->
      <a routerLink="/menu" class="d-block d-md-none" style="position: absolute; transform: translateX(-50%); left: 50%; top: 10px; width: 160px; height: 70px;">
        <img src="./assets/img/logo/the-bagelry-sm-white.png" title="The Bagelry" />
      </a>
      <a class="navbar-brand d-none d-md-block" routerLink="" appContractNavBar>
        <img src="./assets/img/logo/the-bagelry-sm-white.png" title="The Bagelry" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/menu" appContractNavBar>Menu</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/address" appContractNavBar>Hours and Location</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/local" appContractNavBar>Local First</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/our-story" appContractNavBar>Our Story</a>
          </li>
        </ul>
        <div class="navbar-nav mt-2 mt-md-0">
          <a href="https://www.facebook.com/TheBagelryEvergreen/" title="Facebook" class="nav-link">
            <i class="fa fa-facebook-square fa-3x"></i>
          </a>
          <a href="https://www.instagram.com/bagelry_evergreen/" title="Instagram" class="nav-link">
            <i class="fa fa-instagram fa-3x"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>