<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <a class="navbar-brand" routerLink="" (click)="selectAndClose()">
      The Bagelry
      <!-- <img src="assets/img/logo/the-bagelry-default.jpg" title="The Bagelry" /> -->
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleExpanded()" [attr.aria-expanded]="isCollapsed"
             data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [@navExpand]="expand" class="navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/menu" (click)="selectAndClose()">Menu</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/address" (click)="selectAndClose()">Hours and Location</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/local" (click)="selectAndClose()">Local First</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/our-story" (click)="selectAndClose()">Our Story</a>
        </li>
      </ul>
      <div class="navbar-nav mt-2 mt-md-0">
        <a href="https://www.facebook.com/TheBagelryEvergreen/" title="Facebook" class="nav-link">
          <i class="fa fa-facebook-square fa-3x"></i>
        </a>
        <a href="https://www.instagram.com/bagelry_evergreen/" title="Instagram" class="nav-link">
          <i class="fa fa-instagram fa-3x"></i>
        </a>
      </div>
    </div>
  </nav>
</header>