<div class="masthead local">
  <div class="container">
    <div class="masthead-content">
      <h4>Get Some Fun!</h4>
      <h1 class="text-uppercase">EVENTS</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <h5>Upcoming Events:</h5>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12 col-sm-6 text-center mt-4 mt-sm-0">
      <img src="./assets/img/bagelmania.jpg" title="Bagelmania" class="img-fluid box-shadow">
    </div>
    <div class="col-12 col-sm-6 order-first order-sm-last">
      <h3>Bagelmania</h3>

      <p>
        A fun community event for all ages.<br />
        Meet your local first responders.<br />
        Free food &amp; fun games for kids &amp; adults.
      </p>

      <p>
        <strong>Date:</strong> Aug. 19th, 2018<br />
        <strong>Time:</strong> 10am - 2pm<br />
        <strong>Location:</strong> The Bagelry, 1242 Bergen Parkway, Evergreen, CO
      </p>

      <strong>Proud Partners:</strong>
      <ul class="mt-1">
        <li>Evergreen Fire &amp; Rescue</li>
        <li>Daz Bog Coffee</li>
        <li>Teakoe</li>
        <li>Vivian's Gourmet</li>
        <li>Rocky Mountain Soda</li>
        <li>New Age Beverage</li>
        <li>Evergreen Christian Outreach</li>
        <li>Loaves &amp; Fishes Evergreen</li>
        <li>Raquelitas Tortillas</li>
      </ul>
    </div>
  </div>
</div>