<div class="masthead address">
  <div class="container">
    <div class="masthead-content">
      <h4>Oh, no!</h4>
      <h1 class="text-uppercase">This page isn't here.</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col">
      Things you can try:
      <ul>
        <li>Go to the <a routerLink="/home">Homepage</a></li>
        <li>Use the navigation above</li>
        <li>Drive to the Bagelry to eat some yummy bagels.  1242 Bergen Parkway, Evergreen, CO 80439.</li>
      </ul>
    </div>
  </div>
</div>