<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h3>Oh, no! This page isn't here.</h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      Things you can try:
      <ul>
        <li>Go to the <a routerLink="/home">Homepage</a></li>
        <li>Use the navigation above</li>
        <li>Drive to the Bagelry to eat some yummy bagels.  1242 Bergen Parkway, Evergreen, CO 80439.</li>
      </ul>
    </div>
  </div>
</div>