.menu-body {
  margin: 10px 0;
  min-height: 70px;
}

.menu-body h4 {
  margin-bottom: 5px;
  font-size: .9rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px dashed green;
}

.menu-body h4 span {
  float: right;
  font-weight: normal;
}

.menu-body p {
    margin-bottom: 0;
    color: grey;
    font-size: .7rem;
}