<div class="masthead menu">
  <div class="container">
    <div class="masthead-content">
      <h4>The Goodness</h4>
      <h1 class="text-uppercase">Get in my belly</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let menuItem of menuItems" class="menu-box col-xs-12 col-sm-6 col-lg-4">
      <div class="menu-body">
        <h4>{{ menuItem.name }} <span *ngIf="menuItem.price != null">${{ menuItem.price }}</span></h4>
        <p>{{ menuItem.description }}</p>
      </div>
    </div>
  </div>
</div>