<div class="masthead menu d-print-none">
  <div class="container">
    <div class="masthead-content">
      <h4>The Goodness</h4>
      <h1 class="text-uppercase">Get in my belly</h1>
    </div>
  </div>
</div>

<div class="d-none d-print-block">
  <h3>The Bagelry Menu</h3>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-3 d-print-none">
      <div id="list-example" class="list-group box-shadow">
        <a class="list-group-item disabled menu-category-header">Menu</a>
        <a *ngFor="let categoryName of allCategoryNames" class="list-group-item list-group-item-action list-group-item-primary" [class.active]="categoryName == activeCategoryName" href="#" (click)="setActive(categoryName)">
           <small>{{ categoryName }}</small>
        </a>
      </div>
    </div>
    <div class="col-9 col-md-6">
      <div *ngFor="let category of activeCategories">
        <div *ngFor="let subCategory of category.subCategories" class="menu-subcategory">
          <h5>{{ subCategory.name }}</h5>
          <p *ngIf="subCategory.priceString" class="menu-subcategory-price">{{ subCategory.priceString }}</p>
          <div *ngFor="let item of subCategory.items" class="menu-item">
            <div class="menu-item-body">
              <h4>{{ item.name }} <span *ngIf="item.price != null">${{ item.price }}</span></h4>
              <p *ngIf="item.description">{{ item.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>