<div class="row no-gutters">
  <div class="col-12" style="position: relative;">
    <img src="./assets/img/header-our-story.jpg" class="img-fluid w-100" />
    <div class="caption px-4 py-2" routerLink="/menu" style="transform: translate(-50%, -50%);">
      <h1 class="text-center">Our Story</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <p>The Bagelry originally opened in 1995 by a native New Yorker who missed the New York Style Bagel from back East. The grocery
      store “roll with a hole” was not cutting it. A bagel needs to be hand-crafted, boiled in water, and baked to perfection.</p>
      <p>Baked fresh every morning, the mountain community of Evergreen embraced the fresh, doughy, and crispy alternative to frozen
      bagels and The Bagelry became a popular breakfast spot.</p>
      <p>In 2001, a local couple from Evergreen stopped at the Bagelry on
      their way up to the mountains to grab their favorite breakfast sandwich. They found out the owner was ready to start a new
      chapter in her life and if The Bagelry didn’t find a new owner soon, it was in threat of closing.</p>
      <p>They discussed the possibility
      of buying The Bagelry knowing nothing about making bagels. It was probably crazy, however, they decided to take a chance.
      They bought The Bagelry and learned the art of hand-making the boiled then baked tradition of the New York Style Bagel.</p>
      <p>The Bagelry has continued to be a local hot spot for skiers, snowboarders, and commuters looking for a quick breakfast on their
      way out of town. It also has two different seating spaces to accommodate both families and groups, as well as those looking
      for a quiet space to work and use our free Wi-Fi.</p>
      <p>We would like to thank the Evergreen community for your business and support
      for the past twenty years. Thank you!</p>
    </div>
  </div>
</div>