<div class="masthead our-story">
  <div class="container">
    <div class="masthead-content">
      <h4>Our Story</h4>
      <h1 class="text-uppercase">Once upon a time</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-sm-6">
      <p class="lead">The Bagelry, nestled in Bergen Park of Evergreen Colorado, originally opened in 1995 by a native New Yorker who missed the New York Style Bagel from back East. The grocery
      store "roll with a hole" was not cutting it. A bagel needs to be hand-crafted, boiled in water, and baked to perfection.</p>
      <p class="lead">Baked fresh every morning, the mountain community of Evergreen embraced the fresh, doughy, and crispy alternative to frozen
      bagels and The Bagelry became a popular breakfast spot.</p>
    </div>
    <div class="col-12 col-sm-6">
      <img src="./assets/img/the-bagelry-interior.jpg" class="img-fluid">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-sm-6">
      <img src="./assets/img/sandwich-bergen-peak.jpg" class="img-fluid">
    </div>
    <div class="col-12 col-sm-6">
      <p class="lead">The Bagelry has continued to be a local hot spot for skiers, snowboarders, and commuters looking for a quick breakfast on their
      way out of town. It has cushy seating spaces to accommodate both families and groups, as well as those looking
      for a quiet space to work and use our free Wi-Fi. The ambiance includes murals and works from local artists. Local is a key factor in our motivation. 
      We source out as many local ingredients and delicious products as possible.  Only the best for our customers!</p>
      <p class="lead">We would like to thank the Evergreen community for your business and support
      for the past twenty years. Thank you!</p>
    </div>
  </div>
</div>