
@import "~assets/scss/custom.scss";
@import "~bootstrap/scss/bootstrap.scss";

html {
  position: relative;
  min-height: 100%;
}

$heading-font-path: "https://fonts.googleapis.com/css?family=Roboto+Slab:400,700";
@import url($heading-font-path);

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Roboto Slab', serif;
}

header > nav {
  min-height: 110px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header > nav .nav-brand-xs {
    position: absolute; left: 50%; top: 10px; width: 160px; height: 70px;transform: translateX(-50%);
}
header > nav.navbar-shrink .nav-brand-xs {
    top: 3px;
}

header > nav.navbar-shrink, header > nav.mobile-opened {
    min-height: 80px;
    background-color: rgba(0, 0, 0, .8);
}
header > nav .navbar-brand {
    position: absolute;
    top: 10px;
}
header > nav.navbar-shrink .navbar-brand {
    top: 0;
}

.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
}
.navbar-brand { font-size: 2rem; }

@include media-breakpoint-up(md) {
  #navbarContent {
    padding-left: 180px;
  }
}

.masthead {
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}
.masthead.home {
  background-image: url(./assets/img/header/home-alt.jpg)
}
.masthead.local {
  background-image: url(./assets/img/header/local-alt.jpg)
}
.masthead.address {
  background-image: url(./assets/img/header/address-alt.jpg)
}
.masthead.menu {
  background-image: url(./assets/img/header/menu-alt.jpg)
}

.masthead.our-story {
  background-image: url(./assets/img/header/our-story-alt.jpg)
}
.masthead-content {
  padding-top: 125px;
  padding-bottom: 125px;
}

@include media-breakpoint-up(md) {
  .masthead-content {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

main {
  min-height: 1400px; // Large enough so footer doesn't show during page transision
  margin-bottom: 30px;
}

.box-shadow {
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.content-area-alt {
  background-color: #81baa4;
  color: white;
}

.btn-xl {
  padding: 0.75rem 1.25rem;
  font-size: 1.75rem;
}

.footer {
  padding: 30px 0;
  background-color: rgba(36, 50, 59, 1);
  color: #FFF;
  line-height: 1.5rem;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.footer a {
  color: #36c4c5;
}
.footer a:hover {
  color: #268889;
  text-decoration: none;
}
.footer a.facebook{
  color: #3b5998;
}
.footer a.facebook:hover{
  color: #2d467b;
}
.footer a.instagram{
  color: #e95950;
}
.footer a.instagram:hover{
  color: #b5433c;
}

.copyrights {
  /* Set the fixed height of the footer here */
  min-height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #161616;
  color: #FFF;
}

.copyrights a {
  color: #36c4c5;
}
.copyrights a:hover {
  color: #268889;
}

.carousel-control-prev,
.carousel-control-next {
  cursor: pointer;
}

div.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}
.caption h1 {
  color: #FFF;
  font-weight: 400;
}